node_modules
.next
.DS_Store
.env*
!.env.example
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel

# OpenNext build output
.open-next

# Wrangler
.wrangler
wrangler.log

